In [1]:
import pandas as pd

In [2]:
challenges= pd.read_csv('challenge_data.csv')

In [3]:
challenges.head()

,challenge_ID,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
0,CI23478,2,SI2445,37.0,06-05-2006,AI563576,M,AOI100001,NaN
1,CI23479,2,SI2435,48.0,17-10-2002,AI563577,M,AOI100002,32.0
2,CI23480,1,SI2435,15.0,16-10-2002,AI563578,M,AOI100003,NaN
3,CI23481,1,SI2710,236.0,19-09-2003,AI563579,M,AOI100004,70.0
4,CI23482,2,SI2440,137.0,21-03-2002,AI563580,M,AOI100005,NaN

In [4]:
challenges.isnull().sum()

challenge_ID               0
programming_language       0
challenge_series_ID       12
total_submissions        352
publish_date               0
author_ID                 39
author_gender             97
author_org_ID            248
category_id             1841
dtype: int64

In [5]:
challenges.category_id.nunique()

194

In [6]:
train = pd.read_csv('train.csv')

In [7]:
train.head()

  user_sequence  user_id  challenge_sequence challenge
0        4576_1     4576                   1   CI23714
1        4576_2     4576                   2   CI23855
2        4576_3     4576                   3   CI24917
3        4576_4     4576                   4   CI23663
4        4576_5     4576                   5   CI23933

In [8]:
train.head(10)

  user_sequence  user_id  challenge_sequence challenge
0        4576_1     4576                   1   CI23714
1        4576_2     4576                   2   CI23855
2        4576_3     4576                   3   CI24917
3        4576_4     4576                   4   CI23663
4        4576_5     4576                   5   CI23933
5        4576_6     4576                   6   CI25135
6        4576_7     4576                   7   CI23975
7        4576_8     4576                   8   CI25126
8        4576_9     4576                   9   CI24915
9       4576_10     4576                  10   CI24957

In [9]:
challenges.groupby('author_ID').groups

{'AI563576': Int64Index([   0,   35,   37,  118,  148,  175,  228,  749,  789,  893,  982,
             1013, 1033, 1034, 1102, 1126, 1132, 1137, 1141, 1144, 1160, 1168,
             1181, 1293, 1321, 1323, 1567, 1569, 1577, 1673, 1794, 1860, 1861,
             2338, 2454, 2542, 2599, 2646, 2834, 2904, 3926, 3964, 3997, 4369,
             4542, 4544, 4620, 4623, 4784, 5457, 5465, 5575],
            dtype='int64'),
 'AI563577': Int64Index([1, 129, 1676, 5029], dtype='int64'),
 'AI563578': Int64Index([2], dtype='int64'),
 'AI563579': Int64Index([3], dtype='int64'),
 'AI563580': Int64Index([4], dtype='int64'),
 'AI563582': Int64Index([6, 62], dtype='int64'),
 'AI563583': Int64Index([7], dtype='int64'),
 'AI563584': Int64Index([8], dtype='int64'),
 'AI563585': Int64Index([9], dtype='int64'),
 'AI563586': Int64Index([10, 4566], dtype='int64'),
 'AI563587': Int64Index([11], dtype='int64'),
 'AI563588': Int64Index([12, 1320], dtype='int64'),
 'AI563589': Int64Index([13], dtype='int64'),
 'AI563590': Int64Index([14], dtype='int64'),
 'AI563591': Int64Index([15], dtype='int64'),
 'AI563592': Int64Index([16], dtype='int64'),
 'AI563593': Int64Index([17, 2394], dtype='int64'),
 'AI563594': Int64Index([18, 775], dtype='int64'),
 'AI563595': Int64Index([20], dtype='int64'),
 'AI563596': Int64Index([21, 25, 1215, 1219, 1220, 1221, 1892, 1894, 2428, 2610, 3711], dtype='int64'),
 'AI563597': Int64Index([22], dtype='int64'),
 'AI563598': Int64Index([23], dtype='int64'),
 'AI563599': Int64Index([24], dtype='int64'),
 'AI563600': Int64Index([26], dtype='int64'),
 'AI563601': Int64Index([27], dtype='int64'),
 'AI563602': Int64Index([28], dtype='int64'),
 'AI563603': Int64Index([29], dtype='int64'),
 'AI563604': Int64Index([30, 1366], dtype='int64'),
 'AI563605': Int64Index([31, 5433], dtype='int64'),
 'AI563606': Int64Index([32], dtype='int64'),
 'AI563607': Int64Index([33], dtype='int64'),
 'AI563608': Int64Index([34, 4669], dtype='int64'),
 'AI563609': Int64Index([36], dtype='int64'),
 'AI563610': Int64Index([38, 846], dtype='int64'),
 'AI563611': Int64Index([  39,   83,   85,   89,   91,  139, 1212, 1405, 1769, 1791, 1885,
             2023, 2291, 3786, 4838, 4867, 4927, 5250, 5572, 5573],
            dtype='int64'),
 'AI563612': Int64Index([40], dtype='int64'),
 'AI563613': Int64Index([41, 123, 364, 1322, 2649], dtype='int64'),
 'AI563614': Int64Index([43], dtype='int64'),
 'AI563615': Int64Index([44], dtype='int64'),
 'AI563616': Int64Index([45, 133, 782, 1362, 2212, 4981], dtype='int64'),
 'AI563617': Int64Index([46], dtype='int64'),
 'AI563618': Int64Index([47], dtype='int64'),
 'AI563619': Int64Index([48], dtype='int64'),
 'AI563620': Int64Index([49], dtype='int64'),
 'AI563621': Int64Index([50, 5031], dtype='int64'),
 'AI563622': Int64Index([51], dtype='int64'),
 'AI563623': Int64Index([52], dtype='int64'),
 'AI563624': Int64Index([53], dtype='int64'),
 'AI563625': Int64Index([54], dtype='int64'),
 'AI563626': Int64Index([55], dtype='int64'),
 'AI563627': Int64Index([56], dtype='int64'),
 'AI563628': Int64Index([57, 2525, 4668], dtype='int64'),
 'AI563629': Int64Index([58], dtype='int64'),
 'AI563630': Int64Index([59], dtype='int64'),
 'AI563631': Int64Index([60], dtype='int64'),
 'AI563632': Int64Index([61], dtype='int64'),
 'AI563633': Int64Index([63], dtype='int64'),
 'AI563634': Int64Index([64], dtype='int64'),
 'AI563635': Int64Index([65], dtype='int64'),
 'AI563636': Int64Index([66], dtype='int64'),
 'AI563637': Int64Index([67, 1202], dtype='int64'),
 'AI563638': Int64Index([68, 1255], dtype='int64'),
 'AI563639': Int64Index([69, 777, 1319, 1364, 4875], dtype='int64'),
 'AI563640': Int64Index([70, 90, 126, 127, 211, 1654, 2192, 3647], dtype='int64'),
 'AI563641': Int64Index([71], dtype='int64'),
 'AI563642': Int64Index([72, 778, 2425], dtype='int64'),
 'AI563643': Int64Index([73], dtype='int64'),
 'AI563644': Int64Index([74], dtype='int64'),
 'AI563645': Int64Index([75, 781, 1529], dtype='int64'),
 'AI563646': Int64Index([76], dtype='int64'),
 'AI563647': Int64Index([77], dtype='int64'),
 'AI563648': Int64Index([78], dtype='int64'),
 'AI563649': Int64Index([79, 2430], dtype='int64'),
 'AI563650': Int64Index([80], dtype='int64'),
 'AI563651': Int64Index([81], dtype='int64'),
 'AI563652': Int64Index([82, 93], dtype='int64'),
 'AI563653': Int64Index([84, 99, 131], dtype='int64'),
 'AI563654': Int64Index([86, 1821], dtype='int64'),
 'AI563655': Int64Index([  87,  177,  241,  286,  466,  467,  468,  469,  524,  549,  550,
              618,  629,  636,  642, 1259, 1290, 4833, 4837, 4850, 5126, 5560],
            dtype='int64'),
 'AI563656': Int64Index([88], dtype='int64'),
 'AI563657': Int64Index([92, 119], dtype='int64'),
 'AI563658': Int64Index([94], dtype='int64'),
 'AI563659': Int64Index([95, 169, 3260], dtype='int64'),
 'AI563660': Int64Index([96], dtype='int64'),
 'AI563661': Int64Index([97], dtype='int64'),
 'AI563662': Int64Index([98], dtype='int64'),
 'AI563663': Int64Index([100, 791], dtype='int64'),
 'AI563664': Int64Index([101, 895, 2903], dtype='int64'),
 'AI563665': Int64Index([102], dtype='int64'),
 'AI563666': Int64Index([103], dtype='int64'),
 'AI563667': Int64Index([104], dtype='int64'),
 'AI563668': Int64Index([105, 1327], dtype='int64'),
 'AI563669': Int64Index([106, 113], dtype='int64'),
 'AI563670': Int64Index([107, 2177], dtype='int64'),
 'AI563671': Int64Index([108], dtype='int64'),
 'AI563672': Int64Index([109], dtype='int64'),
 'AI563673': Int64Index([110], dtype='int64'),
 'AI563674': Int64Index([111, 792], dtype='int64'),
 'AI563675': Int64Index([112, 1286], dtype='int64'),
 'AI563676': Int64Index([114], dtype='int64'),
 'AI563677': Int64Index([115], dtype='int64'),
 'AI563678': Int64Index([116, 2803], dtype='int64'),
 'AI563679': Int64Index([117], dtype='int64'),
 'AI563680': Int64Index([120, 870, 1143, 3891], dtype='int64'),
 'AI563681': Int64Index([121], dtype='int64'),
 'AI563682': Int64Index([122], dtype='int64'),
 'AI563683': Int64Index([124], dtype='int64'),
 'AI563684': Int64Index([125], dtype='int64'),
 'AI563685': Int64Index([128], dtype='int64'),
 'AI563686': Int64Index([130], dtype='int64'),
 'AI563687': Int64Index([132, 780], dtype='int64'),
 'AI563688': Int64Index([134, 328, 331, 449, 2256, 2457, 3631, 5115], dtype='int64'),
 'AI563689': Int64Index([136], dtype='int64'),
 'AI563690': Int64Index([137], dtype='int64'),
 'AI563691': Int64Index([138, 170, 171, 195, 224, 245, 454, 631, 644, 1646, 1671, 2573,
             3654, 4045, 5128],
            dtype='int64'),
 'AI563692': Int64Index([140], dtype='int64'),
 'AI563693': Int64Index([141], dtype='int64'),
 'AI563694': Int64Index([142, 178, 271, 509, 640, 662, 701], dtype='int64'),
 'AI563695': Int64Index([143], dtype='int64'),
 'AI563696': Int64Index([144], dtype='int64'),
 'AI563697': Int64Index([145, 376, 1098, 2458], dtype='int64'),
 'AI563698': Int64Index([146, 587, 588, 602], dtype='int64'),
 'AI563699': Int64Index([147], dtype='int64'),
 'AI563700': Int64Index([149], dtype='int64'),
 'AI563701': Int64Index([150, 357, 450, 716, 3246, 4554], dtype='int64'),
 'AI563702': Int64Index([151, 464], dtype='int64'),
 'AI563703': Int64Index([152, 476, 541, 2475, 3110, 3207, 3241], dtype='int64'),
 'AI563704': Int64Index([153], dtype='int64'),
 'AI563705': Int64Index([154], dtype='int64'),
 'AI563706': Int64Index([155], dtype='int64'),
 'AI563707': Int64Index([156, 705, 707, 708], dtype='int64'),
 'AI563708': Int64Index([157, 392, 412, 1475, 1477, 4106], dtype='int64'),
 'AI563709': Int64Index([158, 1741], dtype='int64'),
 'AI563710': Int64Index([159, 184, 362, 4907], dtype='int64'),
 'AI563711': Int64Index([160], dtype='int64'),
 'AI563712': Int64Index([161, 2321, 4740, 5183, 5394], dtype='int64'),
 'AI563713': Int64Index([162], dtype='int64'),
 'AI563714': Int64Index([163], dtype='int64'),
 'AI563715': Int64Index([164, 205, 254, 398, 405], dtype='int64'),
 'AI563716': Int64Index([165], dtype='int64'),
 'AI563717': Int64Index([166], dtype='int64'),
 'AI563718': Int64Index([167, 1753], dtype='int64'),
 'AI563719': Int64Index([168, 411, 577], dtype='int64'),
 'AI563720': Int64Index([172, 1582, 4926], dtype='int64'),
 'AI563721': Int64Index([173], dtype='int64'),
 'AI563722': Int64Index([174, 760, 1262, 1795, 2340, 3680], dtype='int64'),
 'AI563723': Int64Index([176, 518, 703, 2466, 2575, 4383], dtype='int64'),
 'AI563724': Int64Index([ 179,  185,  351,  605,  616,  666,  774, 1282, 1754, 2147, 2462,
             4048, 4128, 4898, 5342, 5344, 5482, 5562],
            dtype='int64'),
 'AI563725': Int64Index([180], dtype='int64'),
 'AI563726': Int64Index([181, 330, 758], dtype='int64'),
 'AI563727': Int64Index([182, 793, 3092], dtype='int64'),
 'AI563728': Int64Index([183], dtype='int64'),
 'AI563729': Int64Index([186, 627], dtype='int64'),
 'AI563730': Int64Index([187, 197, 198, 1756, 2199, 2764, 4835], dtype='int64'),
 'AI563731': Int64Index([188, 1668], dtype='int64'),
 'AI563732': Int64Index([189, 617, 661, 663, 734, 750, 1388, 1647, 1658, 1700, 1701, 1702,
             4893, 5578],
            dtype='int64'),
 'AI563733': Int64Index([190, 199, 206, 217, 624, 625, 632, 673], dtype='int64'),
 'AI563734': Int64Index([ 191,  272, 1200, 1244, 1253, 2205, 2251, 2261, 2463, 2468, 2652,
             3629, 3632, 4123, 4531, 4610, 5576, 5577],
            dtype='int64'),
 'AI563735': Int64Index([192, 744], dtype='int64'),
 'AI563736': Int64Index([193], dtype='int64'),
 'AI563737': Int64Index([194, 352, 1438, 1525, 1909], dtype='int64'),
 'AI563738': Int64Index([196, 442], dtype='int64'),
 'AI563739': Int64Index([200, 223, 2470, 3639, 5098], dtype='int64'),
 'AI563740': Int64Index([201, 338], dtype='int64'),
 'AI563741': Int64Index([202], dtype='int64'),
 'AI563742': Int64Index([203], dtype='int64'),
 'AI563743': Int64Index([204], dtype='int64'),
 'AI563744': Int64Index([207, 1739, 4134], dtype='int64'),
 'AI563745': Int64Index([208, 279, 3146, 5100], dtype='int64'),
 'AI563746': Int64Index([209, 3190], dtype='int64'),
 'AI563747': Int64Index([210, 553], dtype='int64'),
 'AI563748': Int64Index([212, 244, 5354], dtype='int64'),
 'AI563749': Int64Index([213, 5359], dtype='int64'),
 'AI563750': Int64Index([214, 311, 2194, 2298, 4721, 4839, 5358], dtype='int64'),
 'AI563751': Int64Index([215, 248], dtype='int64'),
 'AI563752': Int64Index([216, 3304], dtype='int64'),
 'AI563753': Int64Index([218, 3323], dtype='int64'),
 'AI563754': Int64Index([219, 291, 1387, 1657, 2255, 3628, 4890], dtype='int64'),
 'AI563755': Int64Index([220], dtype='int64'),
 'AI563756': Int64Index([221], dtype='int64'),
 'AI563757': Int64Index([222], dtype='int64'),
 'AI563758': Int64Index([225, 227, 230, 282, 283, 284, 285, 287, 288, 431, 432, 478, 479,
             480, 481, 607],
            dtype='int64'),
 'AI563759': Int64Index([226], dtype='int64'),
 'AI563760': Int64Index([229], dtype='int64'),
 'AI563761': Int64Index([231], dtype='int64'),
 'AI563762': Int64Index([232, 1100], dtype='int64'),
 'AI563763': Int64Index([233, 2293], dtype='int64'),
 'AI563764': Int64Index([234], dtype='int64'),
 'AI563765': Int64Index([235, 355, 757, 769, 1343, 2146, 2417], dtype='int64'),
 'AI563766': Int64Index([236, 4892], dtype='int64'),
 'AI563767': Int64Index([237], dtype='int64'),
 'AI563768': Int64Index([238], dtype='int64'),
 'AI563769': Int64Index([239], dtype='int64'),
 'AI563770': Int64Index([240], dtype='int64'),
 'AI563771': Int64Index([242], dtype='int64'),
 'AI563772': Int64Index([243, 317, 1801, 2027, 4095, 5399, 5411, 5504], dtype='int64'),
 'AI563773': Int64Index([246], dtype='int64'),
 'AI563774': Int64Index([247], dtype='int64'),
 'AI563775': Int64Index([249], dtype='int64'),
 'AI563776': Int64Index([250, 3099, 3197, 4742, 4772], dtype='int64'),
 'AI563777': Int64Index([251, 382, 2195, 2297, 2447, 2460, 3314, 3320, 4065, 4081, 5604], dtype='int64'),
 'AI563778': Int64Index([252, 1278, 1490, 1514, 1948, 2658], dtype='int64'),
 'AI563779': Int64Index([253], dtype='int64'),
 'AI563780': Int64Index([255, 397, 788, 1103, 1138, 1294, 1568, 2339, 2527, 5263, 5265,
             5266, 5461],
            dtype='int64'),
 'AI563781': Int64Index([256, 439, 678, 2571, 2572, 2577, 4398, 4512], dtype='int64'),
 'AI563782': Int64Index([257], dtype='int64'),
 'AI563783': Int64Index([258, 261, 455, 3319, 3321], dtype='int64'),
 'AI563784': Int64Index([259], dtype='int64'),
 'AI563785': Int64Index([260, 3094], dtype='int64'),
 'AI563786': Int64Index([262], dtype='int64'),
 'AI563787': Int64Index([263, 735, 1384, 1508, 1950, 5483], dtype='int64'),
 'AI563788': Int64Index([264, 4508], dtype='int64'),
 'AI563789': Int64Index([265, 451], dtype='int64'),
 'AI563790': Int64Index([266, 768, 1437, 1465, 1466, 1473, 1474, 1476, 1479, 2083, 4043,
             4058, 5514],
            dtype='int64'),
 'AI563791': Int64Index([267, 1709, 2260], dtype='int64'),
 'AI563792': Int64Index([268], dtype='int64'),
 'AI563793': Int64Index([269, 555, 5530], dtype='int64'),
 'AI563794': Int64Index([270, 3199, 3209, 5104], dtype='int64'),
 'AI563795': Int64Index([273], dtype='int64'),
 'AI563796': Int64Index([274], dtype='int64'),
 'AI563797': Int64Index([275], dtype='int64'),
 'AI563798': Int64Index([276], dtype='int64'),
 'AI563799': Int64Index([277], dtype='int64'),
 'AI563800': Int64Index([278], dtype='int64'),
 'AI563801': Int64Index([280], dtype='int64'),
 'AI563802': Int64Index([281], dtype='int64'),
 'AI563803': Int64Index([289, 5357, 5559], dtype='int64'),
 'AI563804': Int64Index([290, 4086], dtype='int64'),
 'AI563805': Int64Index([292, 4005, 5395], dtype='int64'),
 'AI563806': Int64Index([293], dtype='int64'),
 'AI563807': Int64Index([294], dtype='int64'),
 'AI563808': Int64Index([295, 309, 510], dtype='int64'),
 'AI563809': Int64Index([296], dtype='int64'),
 'AI563810': Int64Index([297], dtype='int64'),
 'AI563811': Int64Index([298, 3745, 3765], dtype='int64'),
 'AI563812': Int64Index([299, 2472], dtype='int64'),
 'AI563813': Int64Index([300], dtype='int64'),
 'AI563814': Int64Index([301], dtype='int64'),
 'AI563815': Int64Index([302, 1052, 2210, 4695, 4995], dtype='int64'),
 'AI563816': Int64Index([303, 639, 718, 1663], dtype='int64'),
 'AI563817': Int64Index([304], dtype='int64'),
 'AI563818': Int64Index([306], dtype='int64'),
 'AI563819': Int64Index([307], dtype='int64'),
 'AI563820': Int64Index([308], dtype='int64'),
 'AI563821': Int64Index([310, 4088, 5021], dtype='int64'),
 'AI563822': Int64Index([312, 471, 595, 604, 654, 733, 737, 4992], dtype='int64'),
 'AI563823': Int64Index([313, 377, 497, 637], dtype='int64'),
 'AI563824': Int64Index([314, 5116], dtype='int64'),
 'AI563825': Int64Index([315, 515, 540, 581, 635, 1672, 2150, 2464, 4560, 4847], dtype='int64'),
 'AI563826': Int64Index([316, 361, 409, 414, 670, 2208, 3138, 3630], dtype='int64'),
 'AI563827': Int64Index([318], dtype='int64'),
 'AI563828': Int64Index([319], dtype='int64'),
 'AI563829': Int64Index([320], dtype='int64'),
 'AI563830': Int64Index([321, 664], dtype='int64'),
 'AI563831': Int64Index([322], dtype='int64'),
 'AI563832': Int64Index([323], dtype='int64'),
 'AI563833': Int64Index([324], dtype='int64'),
 'AI563834': Int64Index([325], dtype='int64'),
 'AI563835': Int64Index([326], dtype='int64'),
 'AI563836': Int64Index([327, 589, 2505], dtype='int64'),
 'AI563837': Int64Index([329], dtype='int64'),
 'AI563838': Int64Index([332], dtype='int64'),
 'AI563839': Int64Index([333, 610, 3299, 4141], dtype='int64'),
 'AI563840': Int64Index([334, 1564, 5093], dtype='int64'),
 'AI563841': Int64Index([335, 3946], dtype='int64'),
 'AI563842': Int64Index([336], dtype='int64'),
 'AI563843': Int64Index([337, 584, 1563, 1751, 3273, 4683], dtype='int64'),
 'AI563844': Int64Index([339], dtype='int64'),
 'AI563845': Int64Index([340], dtype='int64'),
 'AI563846': Int64Index([341, 472], dtype='int64'),
 'AI563847': Int64Index([342], dtype='int64'),
 'AI563848': Int64Index([343], dtype='int64'),
 'AI563849': Int64Index([344], dtype='int64'),
 'AI563850': Int64Index([345], dtype='int64'),
 'AI563851': Int64Index([346], dtype='int64'),
 'AI563852': Int64Index([347], dtype='int64'),
 'AI563853': Int64Index([348], dtype='int64'),
 'AI563854': Int64Index([349], dtype='int64'),
 'AI563855': Int64Index([350], dtype='int64'),
 'AI563856': Int64Index([353, 1485, 1486, 1518], dtype='int64'),
 'AI563857': Int64Index([354], dtype='int64'),
 'AI563858': Int64Index([356, 503], dtype='int64'),
 'AI563859': Int64Index([358, 522, 1562], dtype='int64'),
 'AI563860': Int64Index([359, 1840], dtype='int64'),
 'AI563861': Int64Index([363, 5499], dtype='int64'),
 'AI563862': Int64Index([365, 375, 384, 517, 1981], dtype='int64'),
 'AI563863': Int64Index([366, 1454], dtype='int64'),
 'AI563864': Int64Index([367, 1436, 2450], dtype='int64'),
 'AI563865': Int64Index([368, 567, 761], dtype='int64'),
 'AI563866': Int64Index([369], dtype='int64'),
 'AI563867': Int64Index([370, 4889], dtype='int64'),
 'AI563868': Int64Index([371], dtype='int64'),
 'AI563869': Int64Index([372, 1284], dtype='int64'),
 'AI563870': Int64Index([373], dtype='int64'),
 'AI563871': Int64Index([374], dtype='int64'),
 'AI563872': Int64Index([378, 443, 1648, 2257, 4896], dtype='int64'),
 'AI563873': Int64Index([379, 380], dtype='int64'),
 'AI563874': Int64Index([381], dtype='int64'),
 'AI563875': Int64Index([383], dtype='int64'),
 'AI563876': Int64Index([385, 691], dtype='int64'),
 'AI563877': Int64Index([386, 484], dtype='int64'),
 'AI563878': Int64Index([387, 527, 677], dtype='int64'),
 'AI563879': Int64Index([388], dtype='int64'),
 'AI563880': Int64Index([389, 390, 1283, 4014], dtype='int64'),
 'AI563881': Int64Index([391], dtype='int64'),
 'AI563882': Int64Index([393], dtype='int64'),
 'AI563883': Int64Index([394], dtype='int64'),
 'AI563884': Int64Index([395], dtype='int64'),
 'AI563885': Int64Index([396], dtype='int64'),
 'AI563886': Int64Index([399, 523], dtype='int64'),
 'AI563887': Int64Index([400], dtype='int64'),
 'AI563888': Int64Index([401], dtype='int64'),
 'AI563889': Int64Index([402], dtype='int64'),
 'AI563890': Int64Index([403, 2026], dtype='int64'),
 'AI563891': Int64Index([404], dtype='int64'),
 'AI563892': Int64Index([406], dtype='int64'),
 'AI563893': Int64Index([407], dtype='int64'),
 'AI563894': Int64Index([408, 1478, 3152], dtype='int64'),
 'AI563895': Int64Index([410], dtype='int64'),
 'AI563896': Int64Index([413], dtype='int64'),
 'AI563897': Int64Index([415, 908, 2280, 4614], dtype='int64'),
 'AI563898': Int64Index([416], dtype='int64'),
 'AI563899': Int64Index([417, 5072], dtype='int64'),
 'AI563900': Int64Index([418], dtype='int64'),
 'AI563901': Int64Index([419], dtype='int64'),
 'AI563902': Int64Index([420], dtype='int64'),
 'AI563903': Int64Index([421], dtype='int64'),
 'AI563904': Int64Index([422, 671], dtype='int64'),
 'AI563905': Int64Index([423], dtype='int64'),
 'AI563906': Int64Index([424], dtype='int64'),
 'AI563907': Int64Index([425, 699], dtype='int64'),
 'AI563908': Int64Index([426], dtype='int64'),
 'AI563909': Int64Index([427], dtype='int64'),
 'AI563910': Int64Index([428], dtype='int64'),
 'AI563911': Int64Index([429, 1705, 1745, 1927, 2252, 4136], dtype='int64'),
 'AI563912': Int64Index([430, 1922], dtype='int64'),
 'AI563913': Int64Index([433, 2955], dtype='int64'),
 'AI563914': Int64Index([434], dtype='int64'),
 'AI563915': Int64Index([435, 4908, 5361], dtype='int64'),
 'AI563916': Int64Index([436], dtype='int64'),
 'AI563917': Int64Index([437, 2555, 3013], dtype='int64'),
 'AI563918': Int64Index([438, 621, 622, 1546, 1670, 2337, 4518, 5464], dtype='int64'),
 'AI563919': Int64Index([440], dtype='int64'),
 'AI563920': Int64Index([441, 1398], dtype='int64'),
 'AI563921': Int64Index([444, 3235, 5584], dtype='int64'),
 'AI563922': Int64Index([445, 559, 1557, 2151, 2557, 2561, 4037, 4970, 5084, 5458, 5539], dtype='int64'),
 'AI563923': Int64Index([446], dtype='int64'),
 'AI563924': Int64Index([447, 465, 521, 753, 766, 1645, 1986, 2452], dtype='int64'),
 'AI563925': Int64Index([448, 592], dtype='int64'),
 'AI563926': Int64Index([452], dtype='int64'),

In [10]:
new = challenges[challenges['author_ID']=='AI563576']

In [11]:
new['category_id'].value_counts()

39.0     9
49.0     5
86.0     3
53.0     3
96.0     1
28.0     1
156.0    1
54.0     1
29.0     1
60.0     1
48.0     1
Name: category_id, dtype: int64

In [12]:
challenges.groupby('challenge_series_ID').size()

challenge_series_ID
SI2435    18
SI2436     1
SI2437     1
SI2438     1
SI2439     3
SI2440    22
SI2441     2
SI2442     2
SI2443     1
SI2444     2
SI2445     6
SI2446    50
SI2447    98
SI2448    18
SI2449    11
SI2450    11
SI2451    15
SI2452    19
SI2453    18
SI2454    15
SI2455     6
SI2456    15
SI2457    17
SI2458    16
SI2459    18
SI2460    10
SI2461    15
SI2462    15
SI2463    17
SI2464    20
          ..
SI2840     3
SI2841     9
SI2842    11
SI2843     1
SI2844     3
SI2845     2
SI2846     1
SI2847     1
SI2848     1
SI2849     1
SI2850     9
SI2851     6
SI2852    10
SI2853    19
SI2854     3
SI2855     2
SI2856     6
SI2857     1
SI2858     2
SI2859     6
SI2860     9
SI2861     5
SI2862     2
SI2863     4
SI2864     9
SI2865     4
SI2866     4
SI2867     1
SI2868     3
SI2869     2
Length: 435, dtype: int64

In [13]:
test = train[(train.challenge_sequence>=10) & (train.challenge_sequence<=13)]
train = train[(train.challenge_sequence>=1) & (train.challenge_sequence<=10)]

In [14]:
challenges.loc[challenges.category_id.isnull(),'category_id']=challenges.category_id.mode(dropna=True).iloc[0]

In [15]:
challenges.head()

,challenge_ID,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
0,CI23478,2,SI2445,37.0,06-05-2006,AI563576,M,AOI100001,29.0
1,CI23479,2,SI2435,48.0,17-10-2002,AI563577,M,AOI100002,32.0
2,CI23480,1,SI2435,15.0,16-10-2002,AI563578,M,AOI100003,29.0
3,CI23481,1,SI2710,236.0,19-09-2003,AI563579,M,AOI100004,70.0
4,CI23482,2,SI2440,137.0,21-03-2002,AI563580,M,AOI100005,29.0

In [16]:
import numpy as np
groupby_categoryid = challenges[challenges.total_submissions.isnull()==False].groupby('category_id').mean()

In [17]:
single_nans = [x for x in challenges.category_id.unique().tolist() if x not in groupby_categoryid.index]

In [18]:
single_nans

[221.0, 25.0, 230.0, 240.0, 238.0, 239.0, 247.0, 246.0, 265.0, 164.0]

In [19]:
challenges[challenges.category_id==220.0]

,challenge_ID,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
2618,CI26096,1,SI2627,522.0,11-03-2008,AI565436,M,AOI101041,220.0
3595,CI27091,1,SI2683,170.0,31-01-2007,AI565941,M,AOI100201,220.0
3596,CI27092,1,SI2681,190.0,22-01-2007,AI565942,M,NaN,220.0
3597,CI27093,1,SI2681,43.0,22-01-2007,AI565942,M,NaN,220.0
3598,CI27094,1,SI2681,104.0,23-01-2007,AI565942,M,NaN,220.0
3599,CI27095,1,SI2681,87.0,25-01-2007,AI565942,M,NaN,220.0
3600,CI27096,1,SI2681,31.0,26-01-2007,AI565942,M,NaN,220.0
5177,CI28954,1,SI2846,4.0,20-09-2002,AI566835,M,AOI101600,220.0
5254,CI26145,1,SI2633,NaN,08-09-2005,AI566875,M,AOI100201,220.0
5255,CI26146,1,SI2633,NaN,13-09-2005,AI566875,M,AOI100201,220.0
5256,CI26147,1,SI2633,NaN,20-09-2005,AI566876,M,AOI101614,220.0
5257,CI26148,1,SI2633,NaN,27-09-2005,AI566877,M,AOI101615,220.0
5258,CI26149,1,SI2633,NaN,29-09-2005,AI566878,M,AOI101616,220.0
5259,CI26150,1,SI2633,NaN,06-10-2005,AI566879,M,AOI101617,220.0
5260,CI26151,1,SI2633,NaN,20-10-2005,AI566880,M,NaN,220.0
5261,CI26152,1,SI2633,NaN,25-10-2005,AI566881,M,AOI101617,220.0
5262,CI26153,1,SI2633,NaN,01-12-2005,AI566882,M,AOI101618,220.0

In [20]:
for category in groupby_categoryid.index.tolist():
    challenges.loc[(challenges.category_id==category) & (challenges.total_submissions.isnull()),
                   'total_submissions']=np.round(groupby_categoryid.loc[groupby_categoryid.index==category,'total_submissions'].iloc[0])

In [21]:
challenges.head()

,challenge_ID,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
0,CI23478,2,SI2445,37.0,06-05-2006,AI563576,M,AOI100001,29.0
1,CI23479,2,SI2435,48.0,17-10-2002,AI563577,M,AOI100002,32.0
2,CI23480,1,SI2435,15.0,16-10-2002,AI563578,M,AOI100003,29.0
3,CI23481,1,SI2710,236.0,19-09-2003,AI563579,M,AOI100004,70.0
4,CI23482,2,SI2440,137.0,21-03-2002,AI563580,M,AOI100005,29.0

In [22]:
challenges.isnull().sum()

challenge_ID              0
programming_language      0
challenge_series_ID      12
total_submissions        46
publish_date              0
author_ID                39
author_gender            97
author_org_ID           248
category_id               0
dtype: int64

In [23]:
# OVerall mean
challenges.loc[challenges.total_submissions.isnull(),
                   'total_submissions']=np.round(challenges.total_submissions.mean())

In [24]:
challenges.isnull().sum()

challenge_ID              0
programming_language      0
challenge_series_ID      12
total_submissions         0
publish_date              0
author_ID                39
author_gender            97
author_org_ID           248
category_id               0
dtype: int64

In [25]:
challenges.loc[challenges.author_ID.isnull(),
                   'author_ID']=challenges.author_ID.mode().iloc[0]

In [26]:
challenges.isnull().sum()

challenge_ID              0
programming_language      0
challenge_series_ID      12
total_submissions         0
publish_date              0
author_ID                 0
author_gender            97
author_org_ID           248
category_id               0
dtype: int64

In [27]:
challenges.loc[challenges.challenge_series_ID.isnull(),
                   'challenge_series_ID']=challenges.challenge_series_ID.mode().iloc[0]

In [28]:
challenges.isnull().sum()

challenge_ID              0
programming_language      0
challenge_series_ID       0
total_submissions         0
publish_date              0
author_ID                 0
author_gender            97
author_org_ID           248
category_id               0
dtype: int64

In [29]:
users = pd.DataFrame()

In [30]:
users['user_id'] = train.user_id.unique().tolist()

In [31]:
users.head()

   user_id
0     4576
1     4580
2     4581
3     4582
4     4585

In [32]:
challenge_list = train.loc[train['user_id']==4576,'challenge'].tolist()

In [33]:
total_submission_list = [challenges.loc[challenges.challenge_ID==x,'total_submissions'].iloc[0] for x in challenge_list]

In [34]:
np.mean(total_submission_list)

13165.7

In [35]:
challenges.loc[challenges.challenge_ID=='CI23714','total_submissions'].iloc[0]

14723.0

In [36]:
challenge_list

['CI23714',
 'CI23855',
 'CI24917',
 'CI23663',
 'CI23933',
 'CI25135',
 'CI23975',
 'CI25126',
 'CI24915',
 'CI24957']

In [37]:
users['total_submission_avg'] = np.nan
users['challenge_age_avg'] = np.nan
users['preferred_author'] = np.nan
users['preferred_language'] = np.nan

In [38]:
users.head()

,user_id,total_submission_avg,challenge_age_avg,preferred_author,preferred_language
0,4576,NaN,NaN,NaN,NaN
1,4580,NaN,NaN,NaN,NaN
2,4581,NaN,NaN,NaN,NaN
3,4582,NaN,NaN,NaN,NaN
4,4585,NaN,NaN,NaN,NaN

In [39]:
users_sample = users.sample(n=10000)

In [40]:
users_sample.shape

(10000, 5)

In [41]:
merged_df = pd.merge(left=train, right=challenges, how='left', left_on='challenge', right_on='challenge_ID')

In [42]:
merged_df.head()

,user_sequence,user_id,challenge_sequence,challenge,challenge_ID,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
0,4576_1,4576,1,CI23714,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
1,4576_2,4576,2,CI23855,CI23855,1,SI2468,20993.0,24-07-2006,AI563823,M,NaN,29.0
2,4576_3,4576,3,CI24917,CI24917,1,SI2545,43409.0,02-07-2007,AI564588,F,AOI100581,66.0
3,4576_4,4576,4,CI23663,CI23663,1,SI2472,8897.0,15-09-2004,AI563724,M,AOI100098,45.0
4,4576_5,4576,5,CI23933,CI23933,1,SI2468,15086.0,27-07-2006,AI563783,M,AOI100149,31.0

In [43]:
grouped_df = merged_df.groupby('user_id')['total_submissions'].agg(np.mean)

In [44]:
dict(zip(grouped_df.index,grouped_df.values))

{4576: 13165.7,
 4580: 9019.7,
 4581: 3547.0,
 4582: 13315.8,
 4585: 13538.4,
 4587: 5635.6,
 4590: 11395.3,
 4591: 13371.6,
 4592: 12374.8,
 4593: 3152.8,
 4596: 2584.8,
 4602: 2454.7,
 4604: 12374.8,
 4606: 4980.1,
 4609: 9050.6,
 4611: 2930.4,
 4612: 10018.1,
 4615: 2077.8,
 4616: 11824.7,
 4617: 8554.8,
 4618: 7875.4,
 4619: 3049.3,
 4622: 11287.3,
 4624: 1100.1,
 4625: 6625.2,
 4626: 11887.6,
 4629: 8960.8,
 4630: 2439.5,
 4631: 2267.0,
 4632: 8521.3,
 4635: 2125.8,
 4637: 2264.7,
 4638: 2356.3,
 4639: 11368.2,
 4641: 7340.3,
 4642: 2012.3,
 4643: 11048.6,
 4644: 13458.1,
 4645: 2413.9,
 4646: 9019.7,
 4647: 2629.8,
 4648: 10295.4,
 4652: 10773.4,
 4653: 2449.5,
 4654: 2034.8,
 4658: 9045.7,
 4660: 2126.5,
 4661: 1854.3,
 4662: 1987.1,
 4663: 2245.1,
 4664: 1979.3,
 4669: 1004.2,
 4670: 7875.4,
 4672: 3005.7,
 4673: 2198.3,
 4675: 8455.0,
 4677: 2291.2,
 4678: 10917.6,
 4679: 938.5,
 4680: 9470.3,
 4681: 12974.6,
 4683: 2166.3,
 4684: 2217.9,
 4687: 9610.7,
 4688: 11500.1,
 4689: 2147.8,
 4691: 11696.8,
 4692: 2670.0,
 4693: 6187.4,
 4694: 8665.8,
 4695: 2470.8,
 4696: 2153.5,
 4698: 15774.3,
 4700: 2112.1,
 4701: 2349.4,
 4703: 12870.6,
 4704: 11678.5,
 4706: 2249.5,
 4709: 9913.2,
 4710: 2450.8,
 4711: 2317.6,
 4713: 8745.3,
 4717: 2339.5,
 4718: 7228.6,
 4719: 11440.2,
 4720: 837.5,
 4721: 2213.9,
 4722: 8612.6,
 4725: 9107.2,
 4727: 6631.4,
 4728: 6082.5,
 4729: 2780.6,
 4732: 1965.4,
 4734: 2549.1,
 4736: 12159.3,
 4741: 2179.7,
 4743: 656.9,
 4744: 8136.0,
 4745: 2139.5,
 4748: 7028.4,
 4750: 5457.6,
 4752: 8925.5,
 4754: 12032.9,
 4756: 2512.9,
 4757: 8383.6,
 4759: 5520.2,
 4760: 7094.3,
 4763: 1027.5,
 4764: 858.5,
 4765: 1225.2,
 4766: 2414.3,
 4768: 10162.1,
 4769: 2182.2,
 4771: 7860.2,
 4772: 2047.7,
 4775: 2641.4,
 4776: 2076.0,
 4777: 5301.1,
 4779: 2389.3,
 4781: 6805.7,
 4785: 1328.2,
 4787: 7711.0,
 4788: 10961.9,
 4789: 2089.0,
 4792: 5866.7,
 4793: 7986.4,
 4795: 7845.9,
 4797: 2273.1,
 4798: 1158.7,
 4799: 2814.1,
 4800: 6699.9,
 4801: 1893.5,
 4802: 6736.7,
 4804: 9708.4,
 4806: 3506.5,
 4809: 2134.9,
 4810: 12438.8,
 4811: 12354.2,
 4812: 12570.7,
 4813: 11304.8,
 4815: 8253.0,
 4816: 7667.5,
 4818: 2422.4,
 4819: 1142.4,
 4820: 2432.6,
 4823: 2641.3,
 4824: 6121.0,
 4826: 5044.0,
 4828: 4853.9,
 4829: 2531.6,
 4830: 2418.2,
 4831: 909.6,
 4833: 7258.6,
 4834: 1918.6,
 4835: 7290.3,
 4836: 8276.9,
 4837: 2473.1,
 4838: 2197.8,
 4839: 2092.9,
 4842: 6864.2,
 4843: 2522.1,
 4844: 7071.2,
 4845: 1768.9,
 4847: 8848.1,
 4848: 2248.6,
 4849: 10217.6,
 4850: 8372.5,
 4851: 2551.4,
 4853: 2419.9,
 4854: 2512.0,
 4855: 2110.0,
 4856: 13557.0,
 4858: 8615.5,
 4859: 1852.7,
 4861: 2308.1,
 4863: 12256.8,
 4864: 10148.5,
 4865: 2373.0,
 4867: 8596.5,
 4868: 9555.8,
 4869: 2149.3,
 4871: 2580.3,
 4878: 11354.5,
 4879: 4948.9,
 4880: 4890.1,
 4882: 6192.5,
 4884: 11250.7,
 4888: 1979.5,
 4889: 8647.0,
 4890: 11910.7,
 4892: 1783.6,
 4894: 8428.9,
 4896: 2169.4,
 4897: 11705.0,
 4898: 5863.3,
 4899: 2023.9,
 4900: 2640.1,
 4903: 9098.1,
 4904: 3013.5,
 4905: 2436.5,
 4907: 1946.7,
 4908: 2612.2,
 4909: 10447.6,
 4910: 2318.5,
 4911: 8976.5,
 4914: 7370.9,
 4916: 1518.7,
 4917: 5927.5,
 4918: 10902.4,
 4919: 2142.4,
 4921: 2391.6,
 4922: 4387.4,
 4923: 5116.7,
 4924: 8014.6,
 4925: 5222.4,
 4927: 10102.3,
 4930: 2349.3,
 4931: 3300.4,
 4932: 5184.3,
 4934: 1941.2,
 4936: 8380.6,
 4937: 7047.4,
 4939: 11159.3,
 4940: 1497.6,
 4942: 2498.6,
 4943: 8822.4,
 4946: 2703.3,
 4947: 6464.0,
 4948: 3091.5,
 4949: 3122.4,
 4950: 6379.9,
 4951: 5832.9,
 4953: 7802.1,
 4956: 740.6,
 4958: 9416.3,
 4959: 10981.4,
 4960: 1908.4,
 4963: 3366.7,
 4964: 4644.1,
 4965: 9763.4,
 4967: 8231.0,
 4972: 5383.6,
 4974: 2097.4,
 4976: 10513.8,
 4977: 11473.0,
 4978: 5361.3,
 4979: 370.0,
 4980: 2020.1,
 4981: 3085.3,
 4982: 1974.8,
 4983: 7388.1,
 4984: 2942.0,
 4985: 1675.5,
 4986: 8265.1,
 4988: 882.0,
 4990: 8926.9,
 4991: 8613.0,
 4992: 7785.8,
 4994: 6024.7,
 4995: 1862.1,
 4996: 2658.4,
 5000: 2399.7,
 5002: 928.3,
 5004: 1157.5,
 5005: 1924.8,
 5007: 12534.4,
 5009: 7634.4,
 5010: 1841.8,
 5011: 7622.4,
 5012: 8759.3,
 5013: 10828.2,
 5014: 4295.2,
 5016: 1142.9,
 5018: 1831.2,
 5019: 7611.2,
 5022: 1397.1,
 5024: 3013.5,
 5026: 1561.1,
 5029: 3157.8,
 5030: 2244.3,
 5031: 2710.6,
 5032: 415.9,
 5034: 4306.4,
 5036: 8091.3,
 5038: 12319.7,
 5039: 11797.7,
 5040: 9065.2,
 5041: 2646.4,
 5043: 1758.4,
 5046: 2154.1,
 5048: 11944.2,
 5049: 4877.6,
 5052: 6574.6,
 5053: 12304.6,
 5059: 583.5,
 5061: 8142.6,
 5064: 2220.1,
 5065: 3506.5,
 5066: 6355.2,
 5067: 7465.5,
 5069: 1924.2,
 5070: 10028.6,
 5071: 9730.4,
 5072: 8715.3,
 5073: 2583.3,
 5076: 8279.1,
 5078: 1432.6,
 5079: 1940.0,
 5080: 8767.5,
 5081: 1937.5,
 5083: 2361.7,
 5086: 1829.2,
 5089: 13642.0,
 5092: 3157.8,
 5093: 2075.8,
 5094: 9398.2,
 5095: 2166.1,
 5098: 2277.6,
 5099: 2276.8,
 5100: 2629.1,
 5102: 6266.4,
 5103: 2813.7,
 5104: 1896.7,
 5105: 1661.0,
 5106: 4620.1,
 5107: 7020.7,
 5108: 9271.0,
 5109: 7026.2,
 5111: 2783.1,
 5113: 2714.9,
 5115: 13576.0,
 5116: 1203.4,
 5117: 6821.8,
 5118: 1440.4,
 5119: 10557.8,
 5120: 2452.4,
 5122: 1711.9,
 5126: 9889.2,
 5128: 7339.6,
 5129: 3603.9,
 5130: 1898.7,
 5131: 1944.2,
 5133: 2453.3,
 5134: 1950.8,
 5135: 9611.5,
 5136: 7301.9,
 5137: 1888.0,
 5141: 6690.5,
 5142: 2027.8,
 5143: 4622.6,
 5145: 2745.2,
 5148: 1713.4,
 5149: 6719.8,
 5150: 1067.1,
 5153: 2212.3,
 5154: 2543.0,
 5155: 2216.7,
 5156: 2076.8,
 5160: 10601.3,
 5162: 8774.9,
 5164: 7785.8,
 5165: 1187.9,
 5168: 6395.7,
 5170: 11271.4,
 5171: 5707.0,
 5173: 994.5,
 5174: 9132.5,
 5176: 1023.8,
 5177: 836.3,
 5178: 5220.9,
 5179: 2577.9,
 5181: 2042.4,
 5183: 5699.3,
 5185: 10140.3,
 5186: 1871.9,
 5189: 1770.5,
 5191: 3701.2,
 5193: 531.4,
 5194: 13321.9,
 5196: 2584.2,
 5198: 415.2,
 5200: 7290.3,
 5201: 2224.5,
 5203: 2446.6,
 5204: 7026.9,
 5205: 2057.0,
 5206: 2612.2,
 5207: 7688.4,
 5208: 12210.1,
 5210: 2133.0,
 5211: 915.3,
 5215: 10643.7,
 5217: 7205.6,
 5221: 6936.6,
 5223: 2084.6,
 5224: 509.3,
 5226: 7897.5,
 5227: 6476.7,
 5231: 2238.6,
 5232: 2371.8,
 5233: 9563.6,
 5237: 623.5,
 5238: 898.0,
 5241: 1232.1,
 5242: 2274.4,
 5243: 2308.7,
 5245: 854.2,
 5248: 6150.1,
 5251: 2583.3,
 5253: 2945.4,
 5255: 9190.6,
 5256: 10473.6,
 5257: 3372.9,
 5259: 5757.9,
 5261: 1997.9,
 5263: 6263.9,
 5267: 2517.8,
 5269: 2468.4,
 5270: 9732.1,
 5272: 1807.2,
 5273: 5932.0,
 5274: 3042.2,
 5275: 7338.1,
 5276: 3069.6,
 5277: 2461.1,
 5278: 2269.8,
 5279: 2453.0,
 5280: 1767.9,
 5281: 9218.9,
 5282: 7094.7,
 5285: 2503.0,
 5287: 6285.1,
 5288: 2488.1,
 5290: 377.1,
 5291: 7253.6,
 5292: 1973.5,
 5293: 4390.4,
 5294: 2616.5,
 5295: 9893.8,
 5296: 1717.7,
 5298: 565.0,
 5299: 1069.0,
 5300: 5517.3,
 5302: 632.5,
 5304: 1726.6,
 5306: 11333.4,
 5307: 7683.9,
 5308: 8260.1,
 5310: 7424.6,
 5311: 1731.5,
 5312: 2512.0,
 5313: 7744.7,
 5314: 2701.6,
 5316: 3004.9,
 5317: 8211.2,
 5318: 9702.5,
 5321: 2361.0,
 5322: 12363.8,
 5323: 2421.9,
 5324: 9598.2,
 5325: 785.3,
 5330: 10803.4,
 5332: 2514.1,
 5334: 2182.2,
 5335: 1933.9,
 5336: 1993.7,
 5337: 1769.9,
 5339: 2065.6,
 5341: 3748.6,
 5342: 1799.2,
 5343: 1223.1,
 5344: 706.8,
 5345: 2225.4,
 5347: 9166.5,
 5348: 2539.6,
 5350: 2492.8,
 5353: 2437.5,
 5354: 5149.9,
 5355: 2601.1,
 5356: 572.6,
 5357: 8834.1,
 5359: 2112.9,
 5361: 2257.1,
 5362: 549.4,
 5363: 729.2,
 5364: 2108.3,
 5367: 4649.3,
 5369: 2326.8,
 5370: 632.1,
 5371: 3170.0,
 5372: 2090.8,
 5373: 5479.3,
 5374: 6157.9,
 5375: 369.4,
 5376: 2250.9,
 5377: 1830.5,
 5379: 1917.7,
 5380: 6460.8,
 5383: 7945.4,
 5385: 7926.5,
 5388: 2012.6,
 5389: 8501.6,
 5390: 1569.8,
 5391: 9879.6,
 5392: 885.0,
 5393: 2529.5,
 5394: 1798.5,
 5395: 5415.8,
 5397: 2096.4,
 5400: 7117.6,
 5402: 1964.0,
 5403: 7182.6,
 5405: 2958.9,
 5407: 4573.8,
 5408: 1745.7,
 5410: 13189.2,
 5411: 1604.5,
 5412: 8262.6,
 5413: 4441.7,
 5414: 5562.1,
 5415: 1897.5,
 5416: 2214.8,
 5418: 1783.1,
 5419: 8177.3,
 5420: 6977.7,
 5421: 817.6,
 5422: 2815.4,
 5426: 2032.7,
 5427: 7521.8,
 5429: 7125.0,
 5430: 1101.3,
 5431: 5704.0,
 5432: 1027.8,
 5433: 7473.2,
 5434: 1119.0,
 5437: 2209.4,
 5439: 2325.8,
 5441: 1095.5,
 5445: 9305.9,
 5447: 2328.8,
 5448: 2601.3,
 5449: 1603.0,
 5452: 1775.2,
 5455: 7332.1,
 5457: 2125.3,
 5458: 6448.4,
 5459: 1323.8,
 5463: 2592.8,
 5464: 1824.5,
 5465: 1833.1,
 5466: 5884.8,
 5467: 2426.9,
 5468: 6128.7,
 5469: 1221.8,
 5472: 2437.3,
 5474: 10562.4,
 5475: 921.3,
 5476: 6387.2,
 5478: 956.8,
 5479: 1834.7,
 5482: 3223.4,
 5484: 11210.7,
 5488: 6398.8,
 5489: 2252.7,
 5491: 2232.4,
 5492: 9124.3,
 5493: 10895.6,
 5494: 8528.6,
 5497: 664.7,
 5498: 2012.3,
 5499: 2294.4,
 5500: 1028.9,
 5501: 8462.0,
 5502: 4471.4,
 5503: 7793.6,
 5505: 2306.5,
 5506: 2712.1,
 5508: 13399.1,
 5509: 2353.7,
 5511: 13029.6,
 5513: 2443.5,
 5514: 7057.6,
 5515: 2227.0,
 5517: 4975.1,
 5518: 1890.7,
 5519: 12676.4,
 5520: 1829.8,
 5521: 1975.8,
 5522: 12138.9,
 5524: 1682.2,
 5525: 2204.4,
 5530: 10670.6,
 5534: 2145.9,
 5535: 1681.0,
 5536: 1817.8,
 5537: 1739.8,
 5538: 5967.1,
 5540: 5715.5,
 5541: 11830.8,
 5542: 752.3,
 5544: 11414.7,
 5545: 13039.0,
 5546: 7404.4,
 5548: 2034.2,
 5549: 11405.4,
 5550: 7292.6,
 5551: 11543.1,
 5552: 1760.1,
 5553: 8943.9,
 5554: 5553.1,
 5557: 12189.4,
 5558: 2047.8,
 5559: 1864.6,
 5560: 2842.3,
 5562: 11605.6,
 5564: 10132.9,
 5566: 4215.6,
 5567: 6360.9,
 5569: 630.5,
 5570: 8479.1,
 5571: 2546.0,
 5572: 4506.6,
 5575: 3093.3,
 5576: 2226.2,
 5578: 7503.5,
 5580: 6478.6,
 5581: 1993.9,
 5583: 2024.8,
 5585: 2190.8,
 5586: 5304.2,
 5587: 2148.6,
 5588: 1021.3,
 5589: 342.5,
 5590: 2051.9,
 5591: 499.1,
 5592: 2823.3,
 5593: 6371.5,
 5594: 10434.2,
 5595: 1782.7,
 5596: 2214.8,
 5597: 1688.1,
 5598: 3311.1,
 5600: 10574.0,
 5601: 2988.3,
 5602: 1057.6,
 5603: 11362.8,
 5605: 1090.0,
 5606: 10106.1,
 5609: 2289.6,
 5610: 9904.8,
 5611: 2192.7,
 5613: 955.1,
 5614: 13114.5,
 5615: 1868.8,
 5617: 1993.2,
 5618: 5937.4,
 5619: 7585.1,
 5621: 2098.6,
 5624: 2207.5,
 5625: 1133.0,
 5626: 1731.3,
 5627: 3430.7,
 5630: 2028.0,
 5631: 641.4,
 5633: 2102.6,
 5634: 9184.6,
 5635: 2173.2,
 5636: 2827.0,
 5637: 10610.2,
 5638: 13564.6,
 5639: 1965.0,
 5640: 2793.4,
 5641: 10515.8,
 5643: 2090.8,
 5646: 10396.1,
 5649: 2091.8,
 5650: 6928.7,
 5651: 8675.1,
 5653: 6713.2,
 5654: 397.9,
 5656: 1920.4,
 5657: 1725.9,
 5658: 1671.5,
 5659: 7888.0,
 5661: 1815.9,
 5662: 10777.4,
 5666: 2269.1,
 5670: 2558.8,
 5671: 7244.8,
 5672: 2278.4,
 5673: 730.1,
 5674: 1769.3,
 5675: 6838.0,
 5678: 2028.1,
 5679: 917.0,
 5680: 1977.0,
 5681: 1926.7,
 5682: 1767.6,
 5683: 7359.4,
 5687: 347.0,
 5688: 10986.8,
 5689: 2801.9,
 5694: 2703.6,
 5696: 1788.3,
 5697: 948.3,
 5699: 4804.5,
 5700: 4727.4,
 5701: 7313.3,
 5702: 10892.0,
 5703: 1458.4,
 5704: 2230.9,
 5705: 1624.1,
 5706: 7258.5,
 5707: 1874.4,
 5710: 1365.1,
 5711: 9819.1,
 5713: 12177.1,
 5715: 1850.3,
 5716: 1969.1,
 5717: 8000.8,
 5718: 2769.3,
 5719: 2254.2,
 5722: 7435.1,
 5724: 725.8,
 5725: 1920.0,
 5727: 472.6,
 5728: 887.1,
 5729: 9687.4,
 5730: 2417.2,
 5731: 5861.3,
 5732: 9816.0,
 5734: 8969.8,
 5736: 1862.1,
 5737: 12456.0,
 5738: 610.6,
 5740: 10629.0,
 5742: 2089.6,
 5744: 11963.6,
 5749: 1677.6,
 5751: 2454.7,
 5752: 8959.1,
 5753: 6965.7,
 5754: 2802.2,
 5757: 7514.9,
 5758: 411.8,
 5759: 2590.0,
 5760: 6455.6,
 5761: 2577.4,
 5762: 6993.2,
 5763: 2588.4,
 5764: 1428.1,
 5765: 2088.1,
 5767: 11532.6,
 5769: 1232.2,
 5770: 8313.7,
 5773: 1595.8,
 5775: 5320.1,
 5776: 7690.4,
 5777: 1658.4,
 5779: 9978.6,
 5781: 10170.5,
 5783: 11118.6,
 5784: 8380.1,
 5786: 1937.1,
 5788: 1382.4,
 5789: 1572.4,
 5790: 6089.1,
 5792: 3471.1,
 5793: 6645.9,
 5794: 2572.4,
 5797: 5356.7,
 5799: 520.9,
 5800: 2053.9,
 5802: 1752.8,
 5806: 7261.5,
 5807: 12273.9,
 5811: 6369.8,
 5812: 1890.2,
 5813: 1849.1,
 5814: 1971.1,
 5815: 2009.3,
 5816: 1004.5,
 5817: 3052.9,
 5818: 3060.8,
 5819: 2016.5,
 5821: 6722.5,
 5824: 2599.6,
 5826: 1052.0,
 5830: 10499.8,
 5833: 2135.9,
 5836: 1760.9,
 5837: 1649.3,
 5838: 1960.8,
 5840: 1985.5,
 5842: 10805.6,
 5844: 5136.0,
 5848: 2381.3,
 5850: 2131.3,
 5851: 1930.4,
 5852: 2236.8,
 5854: 2224.4,
 5855: 4642.7,
 5856: 2560.9,
 5857: 2719.7,
 5859: 2283.9,
 5860: 2424.9,
 5861: 1916.1,
 5862: 1550.4,
 5864: 2275.0,
 5865: 1376.9,
 5866: 2305.9,
 5867: 6720.5,
 5870: 7797.2,
 5872: 2195.4,
 5874: 2366.9,
 5876: 1474.5,
 5879: 2392.0,
 5880: 1698.9,
 5883: 1130.2,
 5884: 5695.3,
 5890: 2437.0,
 5891: 3127.1,
 5893: 8713.1,
 5895: 9747.2,
 5900: 12739.1,
 5901: 4587.0,
 5902: 2153.6,
 5905: 2167.3,
 5906: 10714.9,
 5907: 2207.6,
 5908: 7229.5,
 5910: 1879.8,
 5911: 723.2,
 5913: 5547.5,
 5914: 7113.3,
 5916: 1957.0,
 5917: 1862.8,
 5918: 2889.6,
 5919: 14842.8,
 5920: 2226.9,
 5921: 1810.0,
 5922: 7284.6,
 5923: 9712.6,
 5926: 5641.5,
 5927: 6980.6,
 5928: 2078.7,
 5929: 1786.5,
 5933: 1655.8,
 5934: 2332.3,
 5935: 10547.9,
 5940: 2727.5,
 5942: 9361.0,
 5943: 1245.6,
 5945: 5943.0,
 5946: 1076.7,
 5947: 924.7,
 5949: 2112.1,
 5950: 2818.7,
 5954: 6449.5,
 5956: 8917.0,
 5961: 2795.6,
 5962: 2251.5,
 5963: 1007.4,
 5965: 6223.9,
 5966: 2201.0,
 5968: 1786.6,
 5969: 1841.0,
 5972: 1594.3,
 5973: 9740.9,
 5974: 2392.6,
 5977: 2384.1,
 5978: 978.2,
 5979: 1382.3,
 5981: 6827.7,
 5982: 3700.2,
 5985: 2294.6,
 5987: 7675.5,
 5988: 5214.9,
 5991: 2410.8,
 5992: 10273.9,
 5993: 5998.8,
 5995: 669.0,
 5996: 4459.1,
 5997: 12655.9,
 5998: 2204.7,
 5999: 12496.0,
 6000: 2181.5,
 6003: 5795.9,
 6005: 7118.0,
 6007: 1599.0,
 6010: 2705.9,
 6011: 2275.7,
 6012: 1972.2,
 6013: 2032.4,
 6016: 1759.0,
 6018: 618.5,
 6020: 2742.8,
 6021: 1596.9,
 6023: 628.5,
 6025: 1969.3,
 6028: 2300.2,
 6029: 1871.1,
 6030: 2465.5,
 6032: 6227.8,
 6034: 7477.2,
 6035: 2008.3,
 6036: 2160.4,
 6037: 8859.6,
 6038: 1397.5,
 6040: 2088.9,
 6041: 6501.0,
 6042: 2509.5,
 6045: 2435.6,
 6046: 2109.5,
 6048: 1559.7,
 6049: 2131.6,
 6050: 2109.3,
 6051: 14705.5,
 6052: 10763.3,
 6053: 2250.2,
 6054: 5474.9,
 6055: 10849.6,
 6056: 6368.5,
 6058: 6184.1,
 6059: 11272.1,
 6060: 4617.6,
 6061: 2489.4,
 6062: 1543.7,
 6064: 2582.3,
 6066: 6484.3,
 6067: 6875.0,
 6068: 7280.6,
 6069: 5999.6,
 6070: 5552.7,
 6071: 8215.2,
 6072: 1806.7,
 6074: 2046.5,
 6075: 1027.3,
 6076: 6981.2,
 6077: 1076.3,
 6078: 10876.2,
 6080: 6987.7,
 6081: 1949.5,
 6082: 742.5,
 6084: 6346.8,
 6086: 1299.9,
 6087: 4353.1,
 6089: 1637.3,
 6090: 2082.7,
 6092: 6789.4,
 6093: 2129.8,
 6094: 4060.8,
 6095: 1589.0,
 6097: 2465.7,
 6099: 1985.0,
 6100: 6004.6,
 6101: 9591.8,
 6102: 2659.1,
 6104: 2001.4,
 6105: 1627.7,
 6106: 733.6,
 6108: 2172.9,
 6110: 1552.6,
 6114: 8499.5,
 6116: 820.5,
 6117: 2224.5,
 6118: 7036.6,
 6119: 6162.6,
 6120: 11454.5,
 6121: 8846.4,
 6122: 10204.6,
 6123: 1906.5,
 6125: 1843.4,
 6128: 1689.1,
 6129: 12055.4,
 6130: 1797.6,
 6131: 1875.7,
 6132: 7586.1,
 6133: 1064.4,
 6134: 1742.5,
 6135: 1457.0,
 6137: 2109.6,
 6139: 653.9,
 6140: 9535.8,
 6141: 11555.4,
 6143: 3156.8,
 6144: 2429.3,
 6146: 2643.2,
 6147: 1622.9,
 6148: 10962.4,
 6149: 1105.4,
 6150: 6802.4,
 6152: 2144.8,
 6153: 5016.0,
 6154: 2348.9,
 6155: 1775.0,
 6156: 861.0,
 6158: 1311.8,
 6160: 7418.8,
 6161: 1738.4,
 ...}

In [45]:
users.head()

,user_id,total_submission_avg,challenge_age_avg,preferred_author,preferred_language
0,4576,NaN,NaN,NaN,NaN
1,4580,NaN,NaN,NaN,NaN
2,4581,NaN,NaN,NaN,NaN
3,4582,NaN,NaN,NaN,NaN
4,4585,NaN,NaN,NaN,NaN

In [46]:
users['total_submission_avg'] = np.round(grouped_df.values)

In [47]:
users.head()

,user_id,total_submission_avg,challenge_age_avg,preferred_author,preferred_language
0,4576,13166.0,NaN,NaN,NaN
1,4580,9020.0,NaN,NaN,NaN
2,4581,3547.0,NaN,NaN,NaN
3,4582,13316.0,NaN,NaN,NaN
4,4585,13538.0,NaN,NaN,NaN

In [48]:
group_preferred_author = merged_df.groupby('user_id')['author_ID'].agg(lambda x : x.value_counts().index[0])

In [49]:
users.preferred_author = group_preferred_author.values

In [50]:
group_preferred_language = merged_df.groupby('user_id')['programming_language'].agg(pd.Series.mode)

In [51]:
users.preferred_language = group_preferred_language.values

In [52]:
users.drop('challenge_age_avg',axis=1,inplace=True)

In [53]:
users.head()

   user_id  total_submission_avg preferred_author preferred_language
0     4576               13166.0         AI563823                  1
1     4580                9020.0         AI563823                  1
2     4581                3547.0         AI565468                  1
3     4582               13316.0         AI563790                  1
4     4585               13538.0         AI563823                  1

In [54]:
users.preferred_author.nunique()

1182

In [55]:
users['preferred_category'] = np.nan

In [56]:
group_preferred_category_id = merged_df.groupby('user_id')['category_id'].agg(pd.Series.mode)

In [57]:
users.preferred_category = group_preferred_category_id.values

In [58]:
users.head()

,user_id,total_submission_avg,preferred_author,preferred_language,preferred_category
0,4576,13166.0,AI563823,1,29
1,4580,9020.0,AI563823,1,29
2,4581,3547.0,AI565468,1,69
3,4582,13316.0,AI563790,1,29
4,4585,13538.0,AI563823,1,"[29.0, 61.0]"

In [59]:
users.drop('preferred_language',axis=1,inplace=True)

In [60]:
users.head()

   user_id  total_submission_avg preferred_author preferred_category
0     4576               13166.0         AI563823                 29
1     4580                9020.0         AI563823                 29
2     4581                3547.0         AI565468                 69
3     4582               13316.0         AI563790                 29
4     4585               13538.0         AI563823       [29.0, 61.0]

In [61]:
users.dtypes

user_id                   int64
total_submission_avg    float64
preferred_author         object
preferred_category       object
dtype: object

In [62]:
users.preferred_category

0                              29
1                              29
2                              69
3                              29
4                    [29.0, 61.0]
5                              30
6                              61
7                              29
8                    [29.0, 61.0]
9                              69
10                             28
11                             28
12                   [29.0, 61.0]
13                             77
14                   [29.0, 46.0]
15                             69
16                             29
17                             29
18                             29
19                             29
20                             29
21                             69
22                             29
23                             69
24                             46
25                             29
26                             29
27                             28
28                             69
29                             29
                   ...
69502                          36
69503                         167
69504                [29.0, 66.0]
69505                         167
69506                          29
69507               [81.0, 110.0]
69508                          29
69509               [29.0, 110.0]
69510                          29
69511                [39.0, 61.0]
69512                          86
69513                          41
69514                          86
69515                [30.0, 46.0]
69516                [39.0, 61.0]
69517                          29
69518                          29
69519          [29.0, 30.0, 41.0]
69520                          29
69521          [29.0, 39.0, 61.0]
69522                [29.0, 45.0]
69523    [29.0, 41.0, 46.0, 49.0]
69524         [29.0, 49.0, 110.0]
69525                          29
69526                          86
69527                          86
69528                [29.0, 58.0]
69529                [33.0, 41.0]
69530          [29.0, 30.0, 31.0]
69531                          29
Name: preferred_category, Length: 69532, dtype: object

In [63]:
for x in range(users.shape[0]):
    if isinstance(users.loc[x,'preferred_category'],np.ndarray):
        users.loc[x,'preferred_category'] = users.loc[x,'preferred_category'][-1]

In [64]:
type(users.loc[69530,'preferred_category'])

numpy.int64

In [65]:
users.preferred_category

0         29
1         29
2         69
3         29
4         61
5         30
6         61
7         29
8         61
9         69
10        28
11        28
12        61
13        77
14        46
15        69
16        29
17        29
18        29
19        29
20        29
21        69
22        29
23        69
24        46
25        29
26        29
27        28
28        69
29        29
        ...
69502     36
69503    167
69504     66
69505    167
69506     29
69507    110
69508     29
69509    110
69510     29
69511     61
69512     86
69513     41
69514     86
69515     46
69516     61
69517     29
69518     29
69519     41
69520     29
69521     61
69522     45
69523     49
69524    110
69525     29
69526     86
69527     86
69528     58
69529     41
69530     31
69531     29
Name: preferred_category, Length: 69532, dtype: int64

In [66]:
users.preferred_category.value_counts()

29     14986
69     11516
86      5014
30      4656
46      3689
36      2757
92      2482
167     2101
70      2012
61      1850
45      1587
48      1563
79       977
49       976
77       934
41       926
28       919
39       858
81       848
122      754
33       694
37       605
66       567
72       434
105      434
31       399
47       390
40       335
32       303
110      292
       ...
80         4
26         4
83         4
91         4
56         3
131        3
220        3
147        3
180        3
148        3
215        2
129        2
38         2
130        2
166        2
68         2
42         2
75         2
172        2
186        2
89         2
204        2
94         1
136        1
107        1
259        1
146        1
173        1
192        1
199        1
Name: preferred_category, Length: 134, dtype: int64

In [67]:
users.preferred_author.value_counts()

AI565468    11756
AI565908     3096
AI563732     2860
AI563749     2759
AI564549     1972
AI563691     1887
AI565469     1763
AI563790     1593
AI566371     1566
AI564275     1534
AI563754     1400
AI566296     1356
AI563688     1188
AI563823     1157
AI563724     1089
AI563889     1032
AI566297      996
AI563872      846
AI563826      737
AI564686      720
AI564345      674
AI564726      664
AI564746      637
AI563611      570
AI565133      542
AI564588      540
AI563915      502
AI564553      495
AI563576      478
AI565907      468
            ...
AI566127        1
AI564006        1
AI563622        1
AI566418        1
AI564440        1
AI564876        1
AI565936        1
AI565617        1
AI564107        1
AI564929        1
AI565142        1
AI566151        1
AI563657        1
AI565013        1
AI563629        1
AI565280        1
AI564633        1
AI564643        1
AI564626        1
AI564935        1
AI564029        1
AI566853        1
AI566473        1
AI566541        1
AI565039        1
AI566854        1
AI564254        1
AI565567        1
AI565046        1
AI565277        1
Name: preferred_author, Length: 1182, dtype: int64

In [68]:
users.head()

   user_id  total_submission_avg preferred_author  preferred_category
0     4576               13166.0         AI563823                  29
1     4580                9020.0         AI563823                  29
2     4581                3547.0         AI565468                  69
3     4582               13316.0         AI563790                  29
4     4585               13538.0         AI563823                  61

In [69]:
from sklearn.preprocessing import MinMaxScaler

In [70]:
users.total_submission_avg = MinMaxScaler().fit_transform(users.total_submission_avg.as_matrix().reshape(-1, 1))

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [71]:
users.head()

   user_id  total_submission_avg preferred_author  preferred_category
0     4576              0.834244         AI563823                  29
1     4580              0.570739         AI563823                  29
2     4581              0.222893         AI565468                  69
3     4582              0.843778         AI563790                  29
4     4585              0.857887         AI563823                  61

In [72]:
author = pd.get_dummies(users.preferred_author)

In [73]:
category = pd.get_dummies(users.preferred_category)

In [74]:
users = pd.concat([users[['user_id','total_submission_avg']],author,category],axis=1)

In [75]:
users.head()

,user_id,total_submission_avg,AI563576,AI563577,AI563582,AI563584,AI563593,AI563594,AI563595,AI563596,...,214,215,216,219,220,221,224,225,226,259
0,4576,0.834244,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4580,0.570739,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4581,0.222893,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4582,0.843778,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4585,0.857887,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
users.tail()

,user_id,total_submission_avg,AI563576,AI563577,AI563582,AI563584,AI563593,AI563594,AI563595,AI563596,...,214,215,216,219,220,221,224,225,226,259
69527,113833,0.167599,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69528,113835,0.294331,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69529,113836,0.214567,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69530,113837,0.228359,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69531,113839,0.167154,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
train.head(20)

   user_sequence  user_id  challenge_sequence challenge
0         4576_1     4576                   1   CI23714
1         4576_2     4576                   2   CI23855
2         4576_3     4576                   3   CI24917
3         4576_4     4576                   4   CI23663
4         4576_5     4576                   5   CI23933
5         4576_6     4576                   6   CI25135
6         4576_7     4576                   7   CI23975
7         4576_8     4576                   8   CI25126
8         4576_9     4576                   9   CI24915
9        4576_10     4576                  10   CI24957
13        4580_1     4580                   1   CI23663
14        4580_2     4580                   2   CI23855
15        4580_3     4580                   3   CI23933
16        4580_4     4580                   4   CI23975
17        4580_5     4580                   5   CI24530
18        4580_6     4580                   6   CI23714
19        4580_7     4580                   7   CI23648
20        4580_8     4580                   8   CI23781
21        4580_9     4580                   9   CI23667
22       4580_10     4580                  10   CI25135

In [78]:
# Getting cosine similarities.
from sklearn.metrics.pairwise import cosine_similarity

In [80]:
users.shape

(69532, 1317)

In [81]:
users.head()

,total_submission_avg,AI563576,AI563577,AI563582,AI563584,AI563593,AI563594,AI563595,AI563596,AI563597,...,214,215,216,219,220,221,224,225,226,259
user_id,,,,,,,,,,,,,,,,,,,,,
4576,0.834244,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4580,0.570739,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4581,0.222893,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4582,0.843778,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4585,0.857887,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [118]:
# Subsetting data fro 5000 users only.
users_1 = users[:5000]
user_challenge = pd.read_csv('user_challenge.csv')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [119]:
user_challenge.head()

,Row Labels,CI23483,CI23504,CI23510,CI23514,CI23517,CI23526,CI23541,CI23546,CI23555,...,CI28972,CI28973,CI28980,CI28982,CI28983,CI28984,CI28985,CI28986,CI28987,CI29018
0,4576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
user_challenge = user_challenge[:-1]

In [121]:
user_challenge.fillna(0,inplace=True)

In [124]:
users_1.head()

,total_submission_avg,AI563576,AI563577,AI563582,AI563584,AI563593,AI563594,AI563595,AI563596,AI563597,...,214,215,216,219,220,221,224,225,226,259
user_id,,,,,,,,,,,,,,,,,,,,,
4576,0.834244,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4580,0.570739,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4581,0.222893,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4582,0.843778,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4585,0.857887,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
user_challenge.shape

(5000, 992)

In [128]:
users_1.reset_index()

,user_id,total_submission_avg,AI563576,AI563577,AI563582,AI563584,AI563593,AI563594,AI563595,AI563596,...,214,215,216,219,220,221,224,225,226,259
0,4576,0.834244,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4580,0.570739,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4581,0.222893,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4582,0.843778,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4585,0.857887,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4587,0.355663,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,4590,0.721686,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,4591,0.847337,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,4592,0.783971,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,4593,0.197852,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,4596,0.161752,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,4602,0.153489,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,4604,0.783971,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,4606,0.313970,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,4609,0.572709,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,4611,0.183679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,4612,0.634168,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,4615,0.129528,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,4616,0.749015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,4617,0.541185,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,4618,0.497966,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,4619,0.191242,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,4622,0.714821,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,4624,0.067370,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,4625,0.418520,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,4626,0.753019,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,4629,0.566989,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,4630,0.152536,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,4631,0.141541,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,4632,0.539024,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,12514,0.379179,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4971,12515,0.131689,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4972,12516,0.101119,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4973,12517,0.304690,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4974,12518,0.718444,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4975,12519,0.036164,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4976,12520,0.366023,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4977,12521,0.505974,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4978,12523,0.201157,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4979,12524,0.350388,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4980,12528,0.551036,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4981,12529,0.168107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4982,12532,0.387759,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4983,12533,0.302212,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4984,12534,0.555040,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4985,12535,0.229185,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4986,12536,0.093682,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4987,12537,0.277107,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4988,12539,0.335071,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4989,12540,0.246155,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4990,12541,0.285115,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4991,12543,0.101818,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4992,12546,0.092030,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4993,12547,0.020211,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4994,12549,0.110271,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4995,12551,0.097178,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4996,12552,0.441083,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,12555,0.228550,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,12557,0.307296,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,12558,0.022880,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
user_matrix = pd.merge(left=users_1,right=user_challenge,left_on='user_id',right_on='Row Labels')

In [134]:
user_matrix.set_index(keys='Row Labels',inplace=True)

In [135]:
user_matrix.head()

,total_submission_avg,AI563576,AI563577,AI563582,AI563584,AI563593,AI563594,AI563595,AI563596,AI563597,...,CI28972,CI28973,CI28980,CI28982,CI28983,CI28984,CI28985,CI28986,CI28987,CI29018
Row Labels,,,,,,,,,,,,,,,,,,,,,
4576,0.834244,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4580,0.570739,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4581,0.222893,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4582,0.843778,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4585,0.857887,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
#users_1.set_index(keys='user_id',inplace=True)
cols = user_matrix.index
user_user_matrix = pd.DataFrame(cosine_similarity(user_matrix),columns=cols)

In [138]:
user_user_matrix.set_index(keys=cols,inplace=True)

In [139]:
user_user_matrix.head()

Row Labels,4576,4580,4581,4582,4585,4587,4590,4591,4592,4593,...,11073,11074,11075,11076,11077,11079,11081,11082,11083,11089
Row Labels,,,,,,,,,,,,,,,,,,,,,
4576,1.000000,0.677577,0.015034,0.685134,0.764055,0.265693,0.602951,0.685206,0.683830,0.013351,...,0.109372,0.008543,0.003144,0.001684,0.086530,0.518419,0.504761,0.087402,0.345086,0.007771
4580,0.677577,1.000000,0.010439,0.517807,0.597775,0.261988,0.516135,0.597717,0.517064,0.009270,...,0.020120,0.005932,0.002183,0.001169,0.086045,0.270393,0.341888,0.086648,0.261167,0.005396
4581,0.015034,0.010439,1.000000,0.015196,0.015436,0.006558,0.013096,0.015257,0.014173,0.916948,...,0.007947,0.002343,0.167170,0.000462,0.001518,0.010741,0.005631,0.001759,0.006176,0.251478
4582,0.685134,0.517807,0.015196,1.000000,0.685625,0.265799,0.444588,0.606762,0.447083,0.013495,...,0.109634,0.008635,0.003178,0.001702,0.086539,0.438715,0.182061,0.087420,0.264535,0.007855
4585,0.764055,0.597775,0.015436,0.685625,1.000000,0.265952,0.761733,0.607129,0.763112,0.013707,...,0.110020,0.008771,0.003228,0.001729,0.005684,0.359213,0.343392,0.006587,0.184152,0.007979

In [140]:
user_user_matrix.to_csv('user_user_matrix.csv')

In [141]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity as cs

challenges.publish_date = pd.to_datetime(challenges.publish_date)
max(challenges.publish_date)
challenges["challenge_age"] = max(challenges.publish_date)- challenges.publish_date
challenges.challenge_age = challenges.challenge_age.dt.days.astype(int)
challenges.total_submissions = MinMaxScaler().fit_transform(challenges.total_submissions.as_matrix().reshape(-1, 1))
challenges.challenge_age = MinMaxScaler().fit_transform(challenges.challenge_age.as_matrix().reshape(-1, 1))
chall = challenges.drop(["publish_date","author_gender", "author_org_ID"],1)


chall.set_index(keys="challenge_ID",inplace = True)

chall.programming_language = chall.programming_language.astype("O")
chall.category_id = chall.category_id.astype("O")

chall = pd.get_dummies(chall)

cols = chall.index
corr_matrix = pd.DataFrame(cs(chall),columns=cols)
corr_matrix.head()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

challenge_ID,CI23478,CI23479,CI23480,CI23481,CI23482,CI23483,CI23484,CI23485,CI23486,CI23487,...,CI29074,CI29075,CI29076,CI29077,CI29078,CI29079,CI29080,CI29081,CI29082,CI29083
0,1.000000,0.292554,0.292564,0.053902,0.525241,0.517212,0.036067,0.060112,0.525242,0.060165,...,0.249292,0.249271,0.249313,0.249292,0.249271,0.249271,0.249105,0.249105,0.249105,0.249105
1,0.292554,1.000000,0.328465,0.093785,0.333291,0.292524,0.294818,0.328441,0.333313,0.328512,...,0.006434,0.006396,0.006471,0.006434,0.006396,0.006396,0.006099,0.006099,0.006099,0.006099
2,0.292564,0.328465,1.000000,0.320203,0.333316,0.060123,0.294827,0.552307,0.333339,0.552357,...,0.479455,0.479418,0.479491,0.479455,0.479418,0.479418,0.479129,0.479129,0.479129,0.479129
3,0.053902,0.093785,0.320203,1.000000,0.099654,0.288992,0.290987,0.320189,0.099679,0.320244,...,0.244982,0.244949,0.245015,0.244982,0.244949,0.244949,0.244687,0.244687,0.244687,0.244687
4,0.525241,0.333291,0.333316,0.099654,1.000000,0.294541,0.296993,0.111135,0.779528,0.111232,...,0.241567,0.241528,0.241606,0.241567,0.241528,0.241528,0.241216,0.241216,0.241216,0.241216

In [154]:
corr_matrix.set_index(cols,inplace=True)

In [155]:
corr_matrix.loc['CI23478','CI23481']

0.053901972856591686

In [142]:
corr_matrix.to_csv('challenge_challenge_matrix.csv')

In [163]:
#Function for getting the top ten similar users for a given user
def get_similarity(user_id,neighbors=5):
    similarity = pd.DataFrame(user_user_matrix[user_id])
    similarity["user_id"] = list(user_user_matrix)
    similarity = similarity.sort_values(by=user_id,ascending=False)
    similarity = similarity[similarity[user_id]<1.0]
    return similarity[['user_id',user_id]].head(neighbors)

In [184]:
users = get_similarity(4576)

In [214]:
user_1 = get_challenges_(users.user_id.iloc[0])
user_2 = get_challenges_(users.user_id.iloc[1])
user_3 = get_challenges_(users.user_id.iloc[2])
user_4 = get_challenges_(users.user_id.iloc[3])
user_5 = get_challenges_(users.user_id.iloc[4])
target_user = get_challenges_(4576)
user_1 = [x for x in user_1 if x not in target_user]
user_2 = [x for x in user_2 if x not in target_user]
user_3 = [x for x in user_3 if x not in target_user]
user_4 = [x for x in user_4 if x not in target_user]
user_5 = [x for x in user_5 if x not in target_user]

In [215]:
user_2

['CI23848', 'CI24958']

In [216]:
users.head()

            user_id      4576
Row Labels
4856           4856  0.764072
4585           4585  0.764055
5508           5508  0.763928
5007           5007  0.763033
6405           6405  0.762242

In [217]:
users.iloc[0,1]

0.7640721421348093

In [225]:
item_user1_similarity = []
dummy1 = []
for x in user_1:
    dummy1 = []
    for y in target_user:
        dummy1.append(get_item_similarity_(x,y))
    item_user1_similarity.append((sum(dummy1)/len(dummy1))*users.iloc[0,1])
    
item_user2_similarity = []
dummy2 = []
for x in user_2:
    dummy2 = []
    for y in target_user:
        dummy2.append(get_item_similarity_(x,y))
    item_user2_similarity.append((sum(dummy2)/len(dummy2))*users.iloc[1,1])

item_user3_similarity = []
dummy3 = []
for x in user_3:
    dummy3 = []
    for y in target_user:
        dummy3.append(get_item_similarity_(x,y))
    item_user3_similarity.append((sum(dummy3)/len(dummy3))*users.iloc[2,1])

In [229]:
user1 = dict(zip(user_1,item_user1_similarity))

In [230]:
user2 = dict(zip(user_2,item_user2_similarity))

In [231]:
user3 = dict(zip(user_3,item_user3_similarity))

In [233]:
recommendations = []
recommendations.append(max(user1))
recommendations.append(max(user2))
recommendations.append(max(user3))

In [234]:
recommendations

['CI26051', 'CI24958', 'CI24527']

In [174]:
user_1 = get_challenges_(4858)

In [145]:
train[train.user_id==4856]

     user_sequence  user_id  challenge_sequence challenge
2223        4856_1     4856                   1   CI23855
2224        4856_2     4856                   2   CI24917
2225        4856_3     4856                   3   CI26051
2226        4856_4     4856                   4   CI23975
2227        4856_5     4856                   5   CI23663
2228        4856_6     4856                   6   CI23933
2229        4856_7     4856                   7   CI25135
2230        4856_8     4856                   8   CI23714
2231        4856_9     4856                   9   CI25727
2232       4856_10     4856                  10   CI24530

In [146]:
train[train.user_id==4576]

  user_sequence  user_id  challenge_sequence challenge
0        4576_1     4576                   1   CI23714
1        4576_2     4576                   2   CI23855
2        4576_3     4576                   3   CI24917
3        4576_4     4576                   4   CI23663
4        4576_5     4576                   5   CI23933
5        4576_6     4576                   6   CI25135
6        4576_7     4576                   7   CI23975
7        4576_8     4576                   8   CI25126
8        4576_9     4576                   9   CI24915
9       4576_10     4576                  10   CI24957

In [165]:
train.user_id.iloc[0]

4576

In [177]:
def get_challenges_(user):
    return train.loc[train.user_id==user,'challenge'].tolist()

In [158]:
def get_item_similarity_(challenge1,challenge2):
    if (challenge1 != challenge2):
        return corr_matrix.loc[challenge1,challenge2]
    else:
        print('Cannot compare to self.')

In [178]:
def get_recommendations_(user_id,n=3):
    users = get_similarity(user_id)
    user_1 = get_challenges_(users.user_id.iloc[0])
    user_2 = get_challenges_(users.user_id.iloc[1])
    user_3 = get_challenges_(users.user_id.iloc[2])
    user_4 = get_challenges_(users.user_id.iloc[3])
    user_5 = get_challenges_(users.user_id.iloc[4])
    target_user = get_challenges_(user_id)
    user_1 = [x for x in user_1 if x not in target_user]
    user_2 = [x for x in user_1 if x not in target_user]
    user_3 = [x for x in user_1 if x not in target_user]
    user_4 = [x for x in user_1 if x not in target_user]
    user_5 = [x for x in user_1 if x not in target_user]
    return user_1[:n]

In [179]:
get_recommendations_(4576)

['CI26051', 'CI25727', 'CI24530']

In [182]:
df = pd.read_csv('train.csv')

In [183]:
df.head(20)

   user_sequence  user_id  challenge_sequence challenge
0         4576_1     4576                   1   CI23714
1         4576_2     4576                   2   CI23855
2         4576_3     4576                   3   CI24917
3         4576_4     4576                   4   CI23663
4         4576_5     4576                   5   CI23933
5         4576_6     4576                   6   CI25135
6         4576_7     4576                   7   CI23975
7         4576_8     4576                   8   CI25126
8         4576_9     4576                   9   CI24915
9        4576_10     4576                  10   CI24957
10       4576_11     4576                  11   CI24958
11       4576_12     4576                  12   CI23667
12       4576_13     4576                  13   CI23691
13        4580_1     4580                   1   CI23663
14        4580_2     4580                   2   CI23855
15        4580_3     4580                   3   CI23933
16        4580_4     4580                   4   CI23975
17        4580_5     4580                   5   CI24530
18        4580_6     4580                   6   CI23714
19        4580_7     4580                   7   CI23648

In [ ]:
CI24958,CI23667,CI23691